<article class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1">
    <div id="buyingPE" style="height:40px"></div>
    <h3 id="buyingPE">Buying Price Exp</h3>
    <p>This is a analytics of buying Exp</p>
    <app-buying-ep></app-buying-ep>

    <div id="touchPE" style="height:40px"></div>
    <h3>User's preference</h3>
    <p>This is a analytics of user's preference</p>
    <app-category></app-category>

    <div id="indevidual" style="height:40px"></div>
    <h3>Individual User</h3>
    <p>This is a analytics of individual user</p>
    <app-table></app-table>

  </div>
</article>
